#define ZMK_POINTING_DEFAULT_SCRL_VAL 150

#include <behaviors/rgbled_widget.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

// レイヤー番号の定義。
// keymap ブロック内のレイヤーは「書かれている順」に 0 から番号が振られるので、
// ここの数字と keymap 内の並び順は必ず一致させること。
// 番号を直に書かず必ずこの名前を使うこと(並べ替え時の付け替えミスを防ぐため)。
//
// ※ boards/shields/glove43tb/glove43tb_R.overlay も L_MOUSE / L_SCROLL / L_SCROLL_WIN を
//    数字で参照している。並べ替えたら overlay 側も必ず合わせること。
#define L_MAC        0   // ベース: 自宅Mac
#define L_WIN        1   // ベース: 自宅Windows
#define L_WORK       2   // ベース: 職場Windows
#define L_NUM_SYM    3   // 数字・記号
#define L_MAC_ARROW  4   // 矢印・編集(Mac)
#define L_WIN_ARROW  5   // 矢印・編集(Windows)
#define L_MOUSE      6   // マウス(Mac基準)
#define L_SCROLL     7   // スクロール(Mac基準)
#define L_MOUSE_WIN  8   // マウス(Windows基準) ※L_WIN/L_WORK + L_MOUSE で自動
#define L_SCROLL_WIN 9   // スクロール(Windows基準)
#define L_SYSTEM     10  // システム・プロファイル切替
#define L_FUNCTION   11  // ファンクションキー

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&mmv {
    delay-ms = <20>;
    trigger-period-ms = <5>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <2>;
};

&msc {
    delay-ms = <3>;
    trigger-period-ms = <3>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <0>;
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        // Windows系ベースでマウスレイヤーに入ったら、Windows用マウスレイヤーへ自動で乗せる
        mouse_win_auto {
            if-layers = <L_WIN L_MOUSE>;
            then-layer = <L_MOUSE_WIN>;
        };

        mouse_work_win_auto {
            if-layers = <L_WORK L_MOUSE>;
            then-layer = <L_MOUSE_WIN>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_mouse_lock {
            timeout-ms = <150>;
            key-positions = <8 9>;
            bindings = <&tog L_MOUSE>;
        };
    };

    macros {
        macro_mac: macro_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to L_MAC &out OUT_BLE &bt BT_SEL 0>;
        };

        macro_win: macro_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to L_WIN &out OUT_BLE &bt BT_SEL 1>;
        };

        macro_win2: macro_win2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to L_WIN &out OUT_BLE &bt BT_SEL 2>;
        };

        macro_win3: macro_win3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to L_WIN &out OUT_BLE &bt BT_SEL 3>;
        };

        macro_work: macro_work {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to L_WORK &out OUT_BLE &bt BT_SEL 4>;
        };

        macro_gemini: macro_gemini {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(L) &kp G &kp E &kp M &kp I &kp N &kp I &kp DOT &kp G &kp O &kp O &kp G &kp L &kp E &kp DOT &kp C &kp O &kp M &kp ENTER>;
            label = "NEW_MACRO";
        };

        macro_NotebookLM: macro_NotebookLM {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(L) &kp N &kp O &kp T &kp E &kp B &kp O &kp O &kp K &kp L &kp M &kp DOT &kp G &kp O &kp O &kp G &kp L &kp E &kp DOT &kp C &kp O &kp M &kp ENTER>;
            label = "NEW_MACRO";
        };

        // 自宅Windows用: Winキーでスタートメニュー検索→Claudeデスクトップアプリを起動
        macro_claude: macro_claude {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LGUI>
              , <&macro_wait_time 400>
              , <&kp C>
              , <&kp L>
              , <&kp A>
              , <&kp U>
              , <&kp D>
              , <&kp E>
              , <&macro_wait_time 30>
              , <&kp ENTER>
              ;
            label = "NEW_MACRO";
        };
    };

    behaviors {
        sensor_rotate_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        mouse_wheel_scroll: mouse_wheel_scroll {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };

        // ホームロー修飾(試験導入): 既存のQ/Zのmod-tapとタップ感覚を分けるため別behaviorにしている
        hm: home_row_mod {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ---- L0: ベース(自宅Mac) ----
        My_Mac {
            bindings = <
&mt TAB Q         &kp W             &kp E         &kp R                  &kp T                                                        &kp Y          &kp U        &kp I               &kp O            &kp P
&kp A             &hm LEFT_ALT S    &hm LEFT_CONTROL D  &hm LSHFT F      &kp G                     &kp LS(LG(S))          &kp MINUS   &kp H          &hm LSHFT J  &hm LEFT_CONTROL K  &hm LEFT_ALT L   &kp ENTER
&mt LEFT_SHIFT Z  &kp X             &kp C         &kp V                  &kp B                     &kp LA(LC(LG(G)))      &kp LG(SPACE)  &kp N       &kp M        &kp COMMA           &kp DOT          &kp SLASH
&tog L_MOUSE      &kp LEFT_CONTROL  &kp LEFT_ALT  &lt L_SYSTEM LANG2     &kp LEFT_COMMAND          &lt L_NUM_SYM LANGUAGE_1  &kp BACKSPACE  &lt L_MAC_ARROW SPACE                                      &kp DEL
            >;

            sensor-bindings = <&inc_dec_kp LA(LG(LC(LEFT))) LA(LC(LG(RIGHT)))>;
        };

        // ---- L1: ベース(自宅Windows) ----
        My_Windows {
            bindings = <
&mt TAB Q         &kp W             &kp E         &kp R                       &kp T                                                       &kp Y          &kp U        &kp I               &kp O           &kp P
&kp A             &hm LEFT_ALT S    &hm LEFT_CONTROL D  &hm LSHFT F           &kp G                    &kp LS(LG(S))         &kp MINUS    &kp H          &hm LSHFT J  &hm LEFT_CONTROL K  &hm LEFT_ALT L  &kp ENTER
&mt LEFT_SHIFT Z  &kp X             &kp C         &kp V                       &kp B                    &kp LA(LC(G))         &kp LA(SPACE)  &kp N        &kp M        &kp COMMA           &kp DOT         &kp SLASH
&tog L_MOUSE      &kp LEFT_CONTROL  &kp LEFT_ALT  &lt L_SYSTEM INT_MUHENKAN   &kp LEFT_CONTROL         &lt L_NUM_SYM INT_HENKAN  &kp BACKSPACE  &lt L_WIN_ARROW SPACE                                    &kp DEL
            >;

            sensor-bindings = <&inc_dec_kp LG(LS(RIGHT)) LG(LS(LEFT))>;
        };

        // ---- L2: ベース(職場Windows) ----
        Work_Windows {
            bindings = <
&mt TAB Q         &kp W             &kp E         &kp R                       &kp T                                                          &kp Y        &kp U  &kp I      &kp O    &kp P
&kp A             &kp S             &kp D         &kp F                       &kp G             &kp LS(LG(S))         &kp MINUS              &kp H        &kp J  &kp K      &kp L    &kp ENTER
&mt LEFT_SHIFT Z  &kp X             &kp C         &kp V                       &kp B             &macro_gemini         &macro_NotebookLM      &kp N        &kp M  &kp COMMA  &kp DOT  &kp SLASH
&tog L_MOUSE      &kp LEFT_CONTROL  &kp LEFT_ALT  &lt L_SYSTEM INT_MUHENKAN   &kp LEFT_CONTROL  &lt L_NUM_SYM INT_HENKAN  &kp BACKSPACE      &lt L_WIN_ARROW SPACE                   &kp DEL
            >;

            sensor-bindings = <&inc_dec_kp LG(LS(RIGHT)) LG(LS(LEFT))>;
        };

        // ---- L3: 数字・記号 ----
        NUM_SYM {
            bindings = <
&kp EXCL   &kp AT     &kp HASH       &kp DLLR  &kp PRCNT                           &kp PLUS  &kp N7  &kp N8  &kp N9  &kp STAR
&kp CARET  &kp AMPS   &kp ASTRK      &kp LPAR  &kp RPAR   &trans        &kp EQUAL  &kp N0    &kp N4  &kp N5  &kp N6  &trans
&kp TILDE  &kp GRAVE  &kp LBKT       &kp RBKT  &kp BSLH   &kp PIPE      &trans     &kp DOT   &kp N1  &kp N2  &kp N3  &kp MINUS
&trans     &kp COLON  &kp SEMICOLON  &trans    &trans     &trans        &trans     &trans                            &kp SLASH
            >;
        };

        // ---- L4: 矢印・編集(Mac) ----
        Mac_ARROW {
            bindings = <
&kp ESCAPE  &kp LG(LEFT_BRACKET)  &kp LS(LG(T))  &kp LG(RIGHT_BRACKET)  &trans                         &trans    &kp LC(LEFT)  &kp UP            &kp LC(RIGHT)  &kp PG_UP
&trans      &kp LC(LS(TAB))       &kp LG(T)      &kp LC(TAB)            &kp LG(R)  &trans      &trans  &kp HOME  &kp LEFT      &kp LC(UP_ARROW)  &kp RIGHT      &kp PG_DN
&kp LSHFT   &trans                &kp LG(W)      &trans                 &trans     &trans      &trans  &kp END   &trans        &kp DOWN_ARROW    &trans         &trans
&trans      &trans                &trans         &trans                 &trans     &trans      &trans  &trans                                                   &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(RIGHT) LC(LEFT)>;
        };

        // ---- L5: 矢印・編集(Windows) ----
        Windows_ARROW {
            bindings = <
&kp ESCAPE  &kp LA(LEFT)     &kp LC(LS(T))  &kp LA(RIGHT)  &trans                         &trans    &kp LC(LG(LEFT))  &kp UP          &kp LC(LG(RIGHT))  &kp PG_UP
&trans      &kp LC(LS(TAB))  &kp LC(T)      &kp LC(TAB)    &kp LC(R)  &trans      &trans  &kp HOME  &kp LEFT          &kp LG(TAB)     &kp RIGHT          &kp PG_DN
&kp LSHFT   &trans           &kp LC(W)      &trans         &trans     &trans      &trans  &kp END   &kp LC(LS(TAB))   &kp DOWN_ARROW  &kp LC(TAB)        &trans
&trans      &trans           &trans         &trans         &trans     &trans      &trans  &trans                                                         &trans
            >;

            sensor-bindings = <&inc_dec_kp LG(LS(LEFT)) LG(LS(RIGHT))>;
        };

        // ---- L6: マウス(Mac基準) ----
        MOUSE {
            bindings = <
&trans        &trans     &trans     &trans     &trans                            &trans  &trans    &trans    &trans    &trans
&trans        &trans     &trans     &trans     &trans  &trans            &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&kp LG(Z)     &kp LG(X)  &kp LG(C)  &kp LG(V)  &trans  &trans            &trans  &trans  &trans    &trans    &trans    &trans
&tog L_MOUSE  &trans     &trans     &trans     &trans  &mo L_SCROLL      &trans  &trans                                &trans
            >;
        };

        // ---- L7: スクロール(Mac基準) ----
        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        // ---- L8: マウス(Windows基準) ※L_WIN/L_WORK + L_MOUSE で自動 ----
        MOUSE_WIN {
            bindings = <
&trans        &trans     &trans     &trans     &trans                                &trans  &trans  &trans  &trans  &trans
&trans        &trans     &trans     &trans     &trans  &trans                &trans  &trans  &trans  &trans  &trans  &trans
&kp LC(Z)     &kp LC(X)  &kp LC(C)  &kp LC(V)  &trans  &trans                &trans  &trans  &trans  &trans  &trans  &trans
&tog L_MOUSE  &trans     &trans     &trans     &trans  &mo L_SCROLL_WIN      &trans  &trans                          &trans
            >;
        };

        // ---- L9: スクロール(Windows基準) ----
        SCROLL_WIN {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        // ---- L10: システム・プロファイル切替 ----
        SYSTEM {
            bindings = <
&ind_bat   &ind_con   &mo L_FUNCTION  &out OUT_USB      &out OUT_BLE                        &macro_mac     &macro_win  &macro_win2  &macro_win3  &macro_work
&to L_MAC  &to L_WIN  &to L_NUM_SYM   &to L_MAC_ARROW   &to L_WORK    &trans      &trans     &macro_claude  &trans      &trans       &trans       &trans
&trans     &trans     &trans          &trans            &trans        &trans      &bootloader  &trans       &trans      &trans       &trans       &bt BT_CLR
&trans     &trans     &trans          &trans            &trans        &trans      &trans     &trans                                               &bt BT_CLR_ALL
            >;
        };

        // ---- L11: ファンクションキー ----
        FUNCTION {
            bindings = <
&trans  &trans  &trans  &trans  &trans                       &kp F1  &kp F2  &kp F3  &kp F4  &kp F5
&trans  &trans  &trans  &trans  &trans  &trans      &kp F13  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10
&trans  &trans  &trans  &trans  &trans  &trans      &trans   &trans  &trans  &trans  &trans  &kp F11
&trans  &trans  &trans  &trans  &trans  &trans      &trans   &trans                          &kp F12
            >;

            sensor-bindings = <&sensor_rotate_kp C_VOLUME_DOWN C_VOLUME_UP>;
        };
    };
};
